# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties
https://www.crsp.org/products/documentation/reference-information

In [1]:
import wrds
file_key = open("../../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [2]:
import pandas as pd
import numpy as np
from datetime import date

In [3]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [4]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3195645 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type
0        kytreasno      True  DOUBLE_PRECISION
1         kycrspid      True       VARCHAR(15)
2            caldt      True              DATE
3            tdbid      True  DOUBLE_PRECISION
4            tdask      True  DOUBLE_PRECISION
5         tdnomprc      True  DOUBLE_PRECISION
6     tdnomprc_flg      True        VARCHAR(1)
7         tdsourcr      True        VARCHAR(1)
8         tdaccint      True  DOUBLE_PRECISION
9         tdretnua      True  DOUBLE_PRECISION
10           tdyld      True  DOUBLE_PRECISION
11        tdduratn      True  DOUBLE_PRECISION
12        tdpubout      True  DOUBLE_PRECISION
13        tdtotout      True  DOUBLE_PRECISION
14         tdpdint      True  DOUBLE_PRECISION
15      tdidxratio      True  DOUBLE_PRECISION
16  tdidxratio_flg      True        VARCHAR(1)

In [5]:
DATE = '2021-01-07'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204075.0,20210215.107870,2021-01-07,100.796875,100.820312,100.808594,M,I,3.102921,-0.000057,0.000006,39.000000,3022.0,10076.0,0.0,NaN,None
1,204094.0,20290215.105250,2021-01-07,134.218750,134.265625,134.242188,M,I,2.068614,-0.002582,0.000024,2492.968335,5267.0,11350.0,0.0,NaN,None
2,204078.0,20211115.108000,2021-01-07,106.703125,106.734375,106.718750,M,I,1.171271,0.000132,0.000003,305.181153,9190.0,30632.0,0.0,NaN,None
3,204079.0,20220815.107250,2021-01-07,111.445312,111.468750,111.457031,M,I,2.856658,0.000070,0.000003,550.387987,3978.0,10128.0,0.0,NaN,None
4,204080.0,20221115.107620,2021-01-07,113.890625,113.914062,113.902344,M,I,1.116367,0.000013,0.000003,640.633389,2329.0,7424.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207654.0,20210615.400000,2021-01-07,99.958042,99.962458,99.960250,M,I,0.000000,NaN,0.000003,159.000000,NaN,NaN,0.0,NaN,None
414,207648.0,20210701.400000,2021-01-07,99.961111,99.965972,99.963542,M,I,0.000000,0.000027,0.000002,175.000000,NaN,59598.0,0.0,NaN,None
415,207649.0,20211230.400000,2021-01-07,99.890917,99.900833,99.895875,M,I,0.000000,-0.000022,0.000003,357.000000,NaN,39731.0,0.0,NaN,None
416,207653.0,20271231.200620,2021-01-07,98.937500,98.984375,98.960938,M,I,0.012086,-0.002895,0.000021,2497.507979,59000.0,67977.0,0.0,NaN,None
417,207658.0,20210708.400000,2021-01-07,99.951972,99.957028,99.954500,M,I,0.000000,-0.000010,0.000003,182.000000,NaN,NaN,0.0,NaN,None

In [6]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204075.0,20210215.107870,20210215.107870,912810EH,1991-02-15,2021-02-15,1.0,7.875,2.0,3.9375,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204076.0,20210515.108120,20210515.108120,912810EJ,1991-05-15,2021-05-15,1.0,8.125,2.0,4.0625,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204077.0,20210815.108120,20210815.108120,912810EK,1991-08-15,2021-08-15,1.0,8.125,2.0,4.0625,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204078.0,20211115.108000,20211115.108000,912810EL,1991-11-15,2021-11-15,1.0,8.000,2.0,4.0000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204079.0,20220815.107250,20220815.107250,912810EM,1992-08-15,2022-08-15,0.0,7.250,2.0,3.6250,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207651.0,20231215.200120,20231215.200120,91282CBA,2020-12-15,2023-12-15,0.0,0.125,2.0,0.0625,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
414,207652.0,20251231.200370,20251231.200370,91282CBC,2020-12-31,2025-12-31,0.0,0.375,2.0,0.1875,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
415,207653.0,20271231.200620,20271231.200620,91282CBB,2020-12-31,2027-12-31,0.0,0.625,2.0,0.3125,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
416,207654.0,20210615.400000,20210615.400000,912796G9,2021-01-12,2021-06-15,1.0,0.000,0.0,0.0000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
417,207658.0,20210708.400000,20210708.400000,912796B5,2021-01-07,2021-07-08,1.0,0.000,0.0,0.0000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

In [7]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204075.0,20210215.107870,2021-01-07,100.796875,100.820312,100.808594,M,I,3.102921,-0.000057,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204094.0,20290215.105250,2021-01-07,134.218750,134.265625,134.242188,M,I,2.068614,-0.002582,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204078.0,20211115.108000,2021-01-07,106.703125,106.734375,106.718750,M,I,1.171271,0.000132,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204079.0,20220815.107250,2021-01-07,111.445312,111.468750,111.457031,M,I,2.856658,0.000070,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204080.0,20221115.107620,2021-01-07,113.890625,113.914062,113.902344,M,I,1.116367,0.000013,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,207654.0,20210615.400000,2021-01-07,99.958042,99.962458,99.960250,M,I,0.000000,NaN,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
414,207648.0,20210701.400000,2021-01-07,99.961111,99.965972,99.963542,M,I,0.000000,0.000027,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
415,207649.0,20211230.400000,2021-01-07,99.890917,99.900833,99.895875,M,I,0.000000,-0.000022,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
416,207653.0,20271231.200620,2021-01-07,98.937500,98.984375,98.960938,M,I,0.012086,-0.002895,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
417,207658.0,20210708.400000,2021-01-07,99.951972,99.957028,99.954500,M,I,0.000000,-0.000010,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

# Get Yield Curve Data (CRSP)

In [9]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2022-03-25,1.572140,2.263497,2.518140,2.542305,2.461314,2.708210,2.582279
2022-03-28,1.626348,2.296073,2.550019,2.538519,2.462174,2.685246,2.537997
2022-03-29,1.631957,2.349644,2.500285,2.472474,2.398616,2.641262,2.498180
2022-03-30,1.616406,2.283531,2.438473,2.420647,2.356208,2.610034,2.472816
2022-03-31,1.701437,2.329352,2.451945,2.421906,2.325506,2.583969,2.433047

# Get Timeseries for certain issues

In [9]:
MATDT = '2022-02-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
temp = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
temp

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,206339.0,20220215.202000,20220215.202000,912828SF,2012-02-15,2022-02-15,1.0,2.0,2.0,1.00,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
1,207309.0,20220215.202500,20220215.202500,9128286C,2019-02-15,2022-02-15,1.0,2.5,2.0,1.25,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
2,207781.0,20220215.400000,20220215.400000,912796R8,2021-10-19,2022-02-15,1.0,0.0,0.0,0.00,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None

In [10]:
if temp.shape[0]>1:
    KEYNO = tuple(temp['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = temp['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,206339.0,20220215.202000,2020-09-25,102.585938,102.609375,102.597656,M,I,0.222826,5.285980e-05,3.470309e-06,502.664369,29115.0,74200.0,0.0,None,None
1,206339.0,20220215.202000,2014-02-03,97.757812,97.835938,97.796875,M,I,0.934783,5.017029e-03,6.266431e-05,2696.244250,30239.0,74200.0,0.0,None,None
2,206339.0,20220215.202000,2014-02-04,97.453125,97.500000,97.476562,M,I,0.940217,-3.189227e-03,6.387284e-05,2694.725713,30239.0,74200.0,0.0,None,None
3,206339.0,20220215.202000,2014-02-05,97.203125,97.250000,97.226562,M,I,0.945652,-2.484995e-03,6.482029e-05,2693.318397,30239.0,74200.0,0.0,None,None
4,206339.0,20220215.202000,2014-02-06,97.023438,97.070312,97.046875,M,I,0.951087,-1.774970e-03,6.550426e-05,2692.023910,30239.0,74200.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3346,207781.0,20220215.400000,2021-12-31,100.000639,100.001917,100.001278,M,I,0.000000,3.236174e-05,-2.777760e-07,46.000000,NaN,61711.0,0.0,None,None
3347,207781.0,20220215.400000,2022-01-03,99.998208,99.999403,99.998806,M,I,0.000000,-2.472191e-05,2.777794e-07,43.000000,NaN,61711.0,0.0,None,None
3348,207781.0,20220215.400000,2022-01-04,99.998250,99.999417,99.998833,M,I,0.000000,2.777811e-07,2.777794e-07,42.000000,NaN,61711.0,0.0,None,None
3349,207781.0,20220215.400000,2022-01-05,99.998292,99.999431,99.998861,M,I,0.000000,2.777810e-07,2.777794e-07,41.000000,NaN,61711.0,0.0,None,None
3350,207781.0,20220215.400000,2022-01-06,99.998889,100.000000,99.999444,M,I,0.000000,5.833400e-06,1.388893e-07,40.000000,NaN,61711.0,0.0,None,None

# Save to Excel

In [ ]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [ ]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts.to_excel(writer, sheet_name= 'ts', index=False)

In [12]:
outfile = f'../data/yields.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)